
<mat-card class="max-w-lg mx-auto p-3 bg-white shadow-md rounded-lg mt-6">
  <div class="flex flex-col">
    <form [formGroup]="userNameForm" class="mt-3" (ngSubmit)="changeUsername()">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ 'UpdateProfile.username' | translate }}</mat-label>
        <input matInput formControlName="username" class="bg-gray-100">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="w-full" [disabled]="!isUsernameFormModified()">
        {{ 'UpdateProfile.save' | translate }}
      </button>
    </form>
  </div>
</mat-card>


<mat-card class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg mt-6">


  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{ 'UpdateProfile.email' | translate}}</mat-label>
      <input matInput formControlName="email" class="bg-gray-100">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Register.department' | translate }}</mat-label>
      <mat-select formControlName="department" required>
        <mat-option *ngFor="let department of departments" [value]="department.code">{{department.code}} - {{department.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>{{ 'UpdateProfile.city' | translate}}</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>

    <div class="flex items-center">
      <mat-slide-toggle formControlName="isActive"> {{ 'UpdateProfile.active' | translate}}</mat-slide-toggle>
    </div>

    <button mat-raised-button color="primary" type="submit" class="w-full" [disabled]="!isFormModified()"> {{ 'UpdateProfile.save' | translate}}</button>
  </form>
</mat-card>

<div class="flex  justify-center  items-center gap-10">
  <button class="  p-6 bg-white shadow-md rounded-lg mt-6 " (click)="openModifyPasswordDialog()">Modifier le mot de passe</button>
  <button class="  p-6 bg-red-600 shadow-md rounded-lg mt-6" (click)="openDeleteUserDialog()">Supprimer le compte</button>
</div>


