<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <mat-form-field appearance="fill" class="login-form-field">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput type="text" formControlName="username">

    </mat-form-field>

    <mat-form-field appearance="fill" class="login-form-field">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password">

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="login-button">
      Connexion
    </button>
  </form>


  <p><a href="/register">Vous n'avez pas encore de compte?</a></p>
</div>
