<section class="register">

  <div class=" border border-gray-300 rounded-lg">

    <h1 class="text-center text-2xl p-2">{{ 'Register.subscription' | translate }}</h1>
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>

      <!-- Nom d'utilisateur -->
      <mat-step [stepControl]="userNameFormGroup">
        <form [formGroup]="userNameFormGroup">
          <ng-template matStepLabel>{{ 'Register.username' | translate }}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'Register.username' | translate }}</mat-label>
            <input matInput formControlName="userName" required  (input)=" isUsernameAvailable = true">
          </mat-form-field>
          <div>
            <button mat-raised-button color="accent" matStepperNext [disabled]=" !isUsernameAvailable">{{ 'Register.next' | translate }}</button>
          </div>
        </form>
      </mat-step>


      <!-- Email -->
      <mat-step [stepControl]="emailFormGroup">
        <form [formGroup]="emailFormGroup">
          <ng-template matStepLabel>{{ 'Register.email' | translate }}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'Register.email' | translate }}</mat-label>

            <input matInput formControlName="email" required  (input)="isEmailAvailable = true">
          </mat-form-field>
          <div>


            <button mat-raised-button color="accent" matStepperNext [disabled]=" !isEmailAvailable">{{ 'Register.next' | translate }}</button>

          </div>
        </form>
      </mat-step>


      <!-- Mot de passe -->
      <mat-step [stepControl]="passwordFormGroup">
        <form [formGroup]="passwordFormGroup">
          <ng-template matStepLabel>{{ 'Register.password' | translate }}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'Register.password' | translate }}</mat-label>

            <input matInput [type]="isConfirmPasswordHidden ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="isConfirmPasswordHidden = !isConfirmPasswordHidden" tabindex="-1">
              <mat-icon>{{ isConfirmPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>

          </mat-form-field>
          <div>


            <button mat-raised-button color="accent" matStepperNext [disabled]="!passwordFormGroup.valid">{{ 'Register.next' | translate }}</button>

          </div>
        </form>
      </mat-step>


      <!-- Confirmer le mot de passe -->
      <mat-step [stepControl]="confirmPasswordFormGroup">
        <form [formGroup]="confirmPasswordFormGroup">
          <ng-template matStepLabel>{{ 'Register.password-confirm' | translate }}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'Register.password-confirm' | translate }}</mat-label>

            <input matInput [type]="isConfirmPasswordHidden ? 'password' : 'text'" formControlName="confirmPassword"
                   required>
            <button mat-icon-button matSuffix (click)="isConfirmPasswordHidden = !isConfirmPasswordHidden" tabindex="-1">
              <mat-icon>{{ isConfirmPasswordHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
          <div>

            <button mat-raised-button color="accent" matStepperNext

                    [disabled]="!confirmPasswordFormGroup.valid || !passwordFormGroup.valid">{{ 'Register.next' | translate }}</button>


          </div>
        </form>
      </mat-step>


      <!-- Département -->
      <mat-step [stepControl]= "departmentFormGroup">
        <form [formGroup]="departmentFormGroup">
          <ng-template matStepLabel>{{ 'Register.department' | translate }}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'Register.department' | translate }}</mat-label>
            <mat-select formControlName="department" required>
              <mat-option *ngFor="let department of departments" [value]="department.code">{{department.code}} - {{department.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-raised-button color="accent" matStepperNext [disabled]="!departmentFormGroup.valid">{{ 'Register.next' | translate }}</button>
          </div>
        </form>
      </mat-step>


      <!-- Ville -->
      <mat-step [stepControl]="cityFormGroup">
        <form [formGroup]="cityFormGroup">
          <ng-template matStepLabel>{{ 'Register.city' | translate }}</ng-template>
          <mat-form-field>
            <mat-label>{{ 'Register.city' | translate }}</mat-label>


            <input matInput formControlName="city" required>
          </mat-form-field>
          <div>

          </div>
        </form>
      </mat-step>
    </mat-stepper>

    <!-- Étape finale -->


    <form (submit)="onSubmit()">
      <div class=" flex justify-center items-center gap-5 p-4 mt-4">
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!userNameFormGroup.valid ||
                        !emailFormGroup.valid ||
                        !passwordFormGroup.valid ||
                        !confirmPasswordFormGroup.valid ||
                        !departmentFormGroup.valid ||

                        !cityFormGroup.valid">{{ 'Register.sign-up' | translate }}</button>
        <button mat-raised-button color="primary" type="button" (click)="stepper.reset()">{{ 'Register.reset' | translate }}</button>
      </div>
    </form>


  </div>

</section>
