<mat-drawer-container [hasBackdrop]="true" class="absolute inset-0 h-full">
    <mat-drawer #filterDrawer class="h-full w-full px-4">
        <div class="mt-2 flex h-16 items-center">
            <button class="mr-4" mat-icon-button (click)="filterDrawer.toggle()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h3>{{ 'Collection.addCard.searchTitle' | translate }}</h3>
        </div>
        <div class="h-full-drawer">
            <app-collection-display-search-form />
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <section class="container flex h-full flex-col items-center justify-center">
            <div class="flex h-full w-full flex-col pb-1">
                <div class="flex items-center pb-2">
                    <div class="mt-2 flex items-center px-4" *ngIf="!(isTablet | async)">
                        <form class="w-full" [formGroup]="searchForm">
                            <mat-form-field appearance="outline" class="flex w-full items-center">
                                <mat-label>Name</mat-label>
                                <input
                                    matInput
                                    placeholder="Sol Ring"
                                    (keydown.enter)="search()"
                                    [value]="searchForm.value.name"
                                    formControlName="name" />
                                <button
                                    type="button"
                                    mat-icon-button
                                    matSuffix
                                    (click)="search()"
                                    [disabled]="searchForm.invalid">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </form>
                        <button
                            mat-icon-button
                            color="primary"
                            class="ml-3"
                            (click)="filterDrawer.toggle()">
                            <mat-icon>filter_alt</mat-icon>
                        </button>
                    </div>
                    <ng-container *ngIf="isTablet || isDesktop | async">
                        <app-collection-display-search-form></app-collection-display-search-form>
                    </ng-container>
                </div>
                <div class="flex justify-between">
                    <div>
                        <button
                            class="my-2"
                            mat-flat-button
                            color="primary"
                            [disabled]="listDisplay"
                            (click)="switchView()">
                            <mat-icon>lists</mat-icon>{{ 'Liste' }}
                        </button>
                        <button
                            class="m-2"
                            mat-flat-button
                            color="primary"
                            [disabled]="!listDisplay"
                            (click)="switchView()">
                            <mat-icon>grid_view</mat-icon>{{ 'Grille' }}
                        </button>
                    </div>

                    <div class="flex items-center">
                        <mat-checkbox
                            (change)="$event ? masterToggle() : null"
                            [checked]="(isAllSelected$ | async)!"
                            [indeterminate]="(isIndeterminate$ | async)!">
                        </mat-checkbox>
                        <button
                            class="my-2 ml-2"
                            mat-flat-button
                            [disabled]="!selection.hasValue()"
                            (click)="removeSelection()">
                            <mat-icon>delete_sweep</mat-icon>
                            <span *ngIf="isTablet || isDesktop | async">{{
                                'Collection.delete' | translate
                            }}</span>
                        </button>
                    </div>
                </div>
                <div class="w-full overflow-auto scrollbar-hide">
                    <ng-container *ngIf="!listDisplay">
                        <app-collection-display-image
                            [selection]="selection"
                            [cards]="cards$ | async"
                            [isAllSelected]="(isAllSelected$ | async)!"
                            (updateSelection)="handleSelection($event)">
                            <div
                                class="p-2"
                                *ngFor="
                                    let card of displayedImageCards$ | async;
                                    trackBy: trackById
                                ">
                                <app-collection-display-search-result
                                    [card]="card"
                                    [selection]="selection"
                                    (updateSelection)="handleSelection($event)"
                                    (cardToRemove)="removeSelection($event)">
                                </app-collection-display-search-result>
                            </div>
                            <app-pagination
                                additionalContentBottom
                                [length]="(cards$ | async)?.length ?? 0"
                                [pageSize]="pageSize"
                                [pageIndex]="pageIndex"
                                (page)="displayImageHandlePage($event)"></app-pagination>
                        </app-collection-display-image>
                    </ng-container>
                    <ng-container *ngIf="listDisplay">
                        <app-collection-display-list
                            [cards$]="cards$"
                            [selection]="selection"
                            [isAllSelected]="(isAllSelected$ | async)!"
                            (updateSelection)="handleSelection($event)"
                            (cardToRemove)="removeSelection($event)">
                        </app-collection-display-list>
                    </ng-container>
                </div>
            </div>
        </section>
    </mat-drawer-content>
</mat-drawer-container>
