@import "src/_global-variables.scss";

:host{
  width:100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hero {
  height: 100vh !important;
}

.mtg-box-logo {
  font-weight: 700;
}
