<div class="flex h-full min-w-fit flex-col pt-2">
    <form [formGroup]="searchForm" class="dense-3 field-max-width flex flex-wrap">
        <div class="flex w-full flex-wrap">
            <!-- Name -->
            <mat-form-field
                appearance="outline"
                class="w-2/3 pr-1.5 sm:w-auto sm:flex-shrink-[1] sm:flex-grow-[1] sm:px-1.5">
                <mat-label>{{ 'Collection.addCard.searchForm.name' | translate }}</mat-label>
                <input
                    matInput
                    placeholder="{{ 'Collection.addCard.searchForm.name' | translate }}"
                    (keydown.enter)="search()"
                    [value]="searchForm.value.name"
                    formControlName="name" />
                <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    (click)="search()"
                    [disabled]="!(isFormValid | async)">
                    <mat-icon>search</mat-icon>
                </button>
                <mat-error *ngIf="searchForm.get('name')?.invalid" class="dense-3 text-xs">
                    {{ 'Collection.addCard.searchForm.error.minLength' | translate }}
                </mat-error>
            </mat-form-field>

            <!-- Language -->
            <ng-container *ngIf="moreFilters">
                <mat-form-field
                    *ngIf="hasLanguage"
                    appearance="outline"
                    class="w-1/3 sm:w-auto sm:flex-shrink-[2] sm:flex-grow-[1] sm:px-1.5">
                    <mat-label>{{
                        'Collection.addCard.searchForm.language' | translate
                    }}</mat-label>
                    <mat-select formControlName="language">
                        <mat-option *ngFor="let language of cardLanguages" [value]="language">
                            {{ language.name | getLanguageAbbreviation }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchForm.get('language')?.invalid" class="dense-3 text-xs">
                        {{ 'Collection.addCard.searchForm.error.language' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- Set -->

                <mat-form-field
                    *ngIf="hasSet"
                    appearance="outline"
                    class="w-full sm:w-auto sm:flex-shrink-[1] sm:grow-[2] sm:px-1.5">
                    <mat-label>{{ 'Collection.addCard.searchForm.set' | translate }}</mat-label>
                    <input type="text" matInput formControlName="set" [matAutocomplete]="set" />
                    <mat-autocomplete #set="matAutocomplete">
                        <mat-option value="">{{
                            'Collection.addCard.searchForm.none' | translate
                        }}</mat-option>
                        <mat-option
                            *ngFor="let set of filteredCardsSets | async"
                            [value]="set.code">
                            {{ set.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <!-- Rarity -->

                <mat-form-field
                    *ngIf="hasRarity"
                    appearance="outline"
                    class="w-full sm:w-auto sm:flex-shrink-[1] sm:flex-grow-[3] sm:px-1.5">
                    <mat-label>{{ 'Collection.addCard.searchForm.rarity' | translate }}</mat-label>
                    <mat-select formControlName="rarity">
                        <mat-option [value]="null">{{
                            'Collection.addCard.searchForm.none' | translate
                        }}</mat-option>
                        <mat-option *ngFor="let rarity of cardRarities" [value]="rarity.name">
                            {{ rarity.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchForm.get('rarity')?.invalid" class="dense-3 text-xs">
                        {{ 'Collection.addCard.searchForm.error.nameOrSetMissing' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- Type -->

                <mat-form-field
                    *ngIf="hasType"
                    appearance="outline"
                    class="w-full sm:w-auto sm:flex-shrink-[1] sm:flex-grow-[2] sm:px-1.5">
                    <mat-label>{{ 'Collection.addCard.searchForm.type' | translate }}</mat-label>
                    <input type="text" matInput formControlName="type" [matAutocomplete]="type" />
                    <mat-autocomplete #type="matAutocomplete">
                        <mat-option value="">{{
                            'Collection.addCard.searchForm.none' | translate
                        }}</mat-option>
                        <mat-option *ngFor="let type of filteredCardTypes | async" [value]="type">
                            {{ type }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="searchForm.get('type')?.invalid" class="dense-3 text-xs">
                        {{ 'Collection.addCard.searchForm.error.nameOrSetMissing' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- Colors -->

                <mat-form-field
                    *ngIf="hasColor"
                    appearance="outline"
                    class="w-1/2 pr-1.5 sm:w-auto sm:flex-shrink-[2] sm:flex-grow-[1] sm:px-1.5">
                    <mat-label>{{ 'Collection.addCard.searchForm.color' | translate }}</mat-label>
                    <mat-select formControlName="colors">
                        <mat-option [value]="null">{{
                            'Collection.addCard.searchForm.none' | translate
                        }}</mat-option>
                        <mat-option *ngFor="let color of CARD_COLORS" [value]="color.value">
                            {{ color.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchForm.get('colors')?.invalid" class="dense-3 text-xs">
                        {{ 'Collection.addCard.searchForm.error.nameOrSetMissing' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- ManaCost -->

                <mat-form-field
                    *ngIf="hasManaCost"
                    appearance="outline"
                    class="w-1/2 sm:w-auto sm:flex-shrink-[2] sm:flex-grow-[1] sm:px-1.5">
                    <mat-label>{{
                        'Collection.addCard.searchForm.cmc_label' | translate
                    }}</mat-label>
                    <input min="0" matInput type="number" formControlName="cmc" />
                    <mat-error *ngIf="searchForm.get('cmc')?.invalid" class="dense-3 text-xs">
                        {{ 'Collection.addCard.searchForm.error.nameOrSetMissing' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- Text -->

                <mat-form-field
                    *ngIf="hasText"
                    appearance="outline"
                    class="w-full sm:w-auto sm:flex-shrink-[1] sm:flex-grow-[2] sm:px-1.5">
                    <mat-label>{{ 'Collection.addCard.searchForm.text' | translate }}</mat-label>
                    <input matInput formControlName="text" />
                    <mat-error *ngIf="searchForm.get('text')?.invalid" class="dense-3 text-xs">
                        {{ 'Collection.addCard.searchForm.error.minLength' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- Artist -->

                <mat-form-field
                    *ngIf="hasArtist"
                    appearance="outline"
                    class="w-full sm:w-auto sm:flex-shrink-[1] sm:flex-grow-[2] sm:px-1.5">
                    <mat-label>{{ 'Collection.addCard.searchForm.artist' | translate }}</mat-label>
                    <input matInput formControlName="artist" />
                    <mat-error *ngIf="searchForm.get('artist')?.invalid" class="dense-3 text-xs">
                        {{ 'Collection.addCard.searchForm.error.minLength' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- location -->
                <mat-form-field
                    *ngIf="hasLocation"
                    appearance="outline"
                    class="w-full sm:w-auto sm:flex-shrink-[1] sm:flex-grow-[2] sm:px-1.5">
                    <mat-label>location</mat-label>
                    <input matInput formControlName="location" />
                </mat-form-field>

                <!-- recentlyConnected -->
                <mat-checkbox *ngIf="hasRecentlyConnected" formControlName="recentlyConnected"
                    >recently connected</mat-checkbox
                >
            </ng-container>
        </div>
    </form>

    <div class="flex w-full flex-col sm:flex-row">
        <div class="flex w-full flex-col gap-2 sm:w-fit sm:flex-row">
            <button
                *ngIf="(isDesktop | async) || (isTablet | async)"
                class="my-1 w-fit"
                mat-flat-button
                color="primary"
                (click)="switchFilterView()">
                {{ moreFilters ? '-' : '+' }}<mat-icon>tune</mat-icon>
            </button>
            <button
                class="my-1 w-full px-1 sm:w-fit"
                mat-stroked-button
                (click)="reset()"
                [disabled]="!isFormValid">
                {{ 'Collection.addCard.searchForm.reset' | translate }}
            </button>
            <button
                class="my-1 w-full sm:w-fit"
                mat-flat-button
                color="primary"
                (click)="search()"
                [disabled]="!(isFormValid | async)">
                {{ 'Collection.addCard.searchForm.search' | translate }}
            </button>
        </div>
        <div
            class="flex w-full justify-center pb-2 text-xs sm:ml-2 sm:w-fit sm:items-center sm:justify-start sm:pb-0">
            <p *ngIf="(status$ | async) === RequestStatus.success && (cards$ | async)">
                {{ (cards$ | async)?.length ?? 0 | getSearchResultText }}
            </p>
        </div>
    </div>
</div>
