@import "src/_global-variables.scss";

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .router-container {
    display: flex;
   justify-content: center;
    flex: 1;
    overflow-y: auto;
    padding: 16px 24px;
    @include sm {
      padding: 32px 88px;
    }
  }
}
