<nav
    class="relative mb-3 flex flex-wrap items-center justify-between bg-secondary-color-500 px-2 py-3">
    <div class="container mx-auto flex flex-wrap items-center justify-between px-4">
        <div
            class="relative flex w-full justify-between px-4 lg:static lg:block lg:w-auto lg:justify-start">
            <a
                class="mr-4 inline-block whitespace-nowrap py-2 text-sm font-bold uppercase leading-relaxed text-white"
                routerLink="/user-panel/profile">
                {{ 'userPanel.menuLabels.userPanel' | translate }}
            </a>
            <button
                class="block cursor-pointer rounded border border-solid border-transparent bg-transparent px-3 py-1 text-xl leading-none text-white outline-none focus:outline-none lg:hidden"
                type="button"
                (click)="toggleNavbar()">
                <mat-icon>menu_open</mat-icon>
            </button>
        </div>
        <div
            [ngClass]="{ hidden: !showMenu, flex: showMenu }"
            class="items-center lg:flex lg:flex-grow">
            <ul class="mr-auto flex list-none flex-col lg:flex-row">
                <li class="nav-item">
                    <a
                        class="flex items-center px-3 py-2 text-xs font-bold uppercase leading-snug text-white hover:opacity-75"
                        routerLink="/user-panel/profile">
                        <i
                            class="fab fa-facebook-square leading-lg text-lg text-white opacity-75"></i
                        ><span class="ml-2"> {{ 'userPanel.menuLabels.profile' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="flex items-center px-3 py-2 text-xs font-bold uppercase leading-snug text-white hover:opacity-75"
                        routerLink="/user-panel/collection">
                        <i class="fab fa-twitter leading-lg text-lg text-white opacity-75"></i
                        ><span class="ml-2">
                            {{ 'userPanel.menuLabels.collection' | translate }}</span
                        >
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="flex items-center px-3 py-2 text-xs font-bold uppercase leading-snug text-white hover:opacity-75"
                        routerLink="/user-panel/history">
                        <i class="fab fa-pinterest leading-lg text-lg text-white opacity-75"></i
                        ><span class="ml-2"> {{ 'userPanel.menuLabels.history' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="flex items-center px-3 py-2 text-xs font-bold uppercase leading-snug text-white hover:opacity-75"
                        routerLink="/user-panel/offers-received">
                        <i class="fab fa-pinterest leading-lg text-lg text-white opacity-75"></i
                        ><span class="ml-2">
                            {{ 'userPanel.menuLabels.offersReceived' | translate }}</span
                        >
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="flex items-center px-3 py-2 text-xs font-bold uppercase leading-snug text-white hover:opacity-75"
                        routerLink="/user-panel/offers-made">
                        <i class="fab fa-pinterest leading-lg text-lg text-white opacity-75"></i
                        ><span class="ml-2">
                            {{ 'userPanel.menuLabels.offersMade' | translate }}</span
                        >
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="flex items-center px-3 py-2 text-xs font-bold uppercase leading-snug text-white hover:opacity-75"
                        routerLink="/user-panel/messages">
                        <i class="fab fa-pinterest leading-lg text-lg text-white opacity-75"></i
                        ><span class="ml-2">
                            {{ 'userPanel.menuLabels.messages' | translate }}</span
                        >
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
