



  .register-card {
    border: 1px solid #ccc;
    border-radius: 15px;


  }

  .register-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;

  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1rem;
  }


