<h2 mat-dialog-title class="text-lg font-semibold text-gray-900">
    {{ 'UpdateProfile.password-modify' | translate }}
</h2>
<mat-dialog-content class="mat-typography p-4">
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="space-y-6">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-700">{{
                'UpdateProfile.password-current' | translate
            }}</mat-label>
            <input
                matInput
                formControlName="currentPassword"
                type="password"
                required
                class="w-full" />
            <mat-error
                *ngIf="
                    passwordForm.controls['currentPassword'].errors &&
                    passwordForm.controls['currentPassword'].touched
                ">
                <span class="text-sm text-red-500">{{
                    'UpdateProfile.password-invalid' | translate
                }}</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-700">{{
                'UpdateProfile.password-new' | translate
            }}</mat-label>
            <input matInput formControlName="newPassword" type="password" required class="w-full" />
            <mat-error
                *ngIf="
                    passwordForm.controls['newPassword'].errors &&
                    passwordForm.controls['newPassword'].touched
                ">
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-700">{{
                'UpdateProfile.password-confirm' | translate
            }}</mat-label>
            <input
                matInput
                formControlName="confirmPassword"
                type="password"
                required
                class="w-full" />
            <mat-error
                *ngIf="
                    passwordForm.controls['confirmPassword'].errors &&
                    passwordForm.controls['confirmPassword'].touched
                ">
                <span class="text-sm text-red-500">{{
                    'ResetPassword.password-match' | translate
                }}</span>
            </mat-error>
        </mat-form-field>
        <mat-dialog-actions class="flex justify-end space-x-4">
            <button
                mat-button
                mat-dialog-close
                class="rounded-md bg-gray-300 px-4 py-2 text-gray-800 hover:bg-gray-400">
                {{ 'ResetPassword.cancel' | translate }}
            </button>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!passwordForm.valid"
                class="rounded-md bg-blue-500 px-4 py-2 text-white hover:bg-blue-600 disabled:bg-blue-300">
                {{ 'ResetPassword.submit' | translate }}
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
