<mat-chip-listbox>
    <mat-chip-option
        class="text-xs"
        dense="3"
        selected
        (keydown.enter)="resetFilters()"
        (click)="resetFilters()"
        >{{
            'transaction.offer.filter-offer-history-bar.all-button-text' | translate
        }}</mat-chip-option
    >
    <mat-chip-option
        class="text-xs"
        (keydown.enter)="onFilterByMade()"
        (click)="onFilterByMade()"
        >{{
            'transaction.offer.filter-offer-history-bar.pending-button-text' | translate
        }}</mat-chip-option
    >
    <mat-chip-option
        class="text-xs"
        (keydown.enter)="onFilterByReceived()"
        (click)="onFilterByReceived()"
        >{{
            'transaction.offer.filter-offer-history-bar.accepted-button-text' | translate
        }}</mat-chip-option
    >
</mat-chip-listbox>
