<ng-container *ngIf="!shouldHideBreadcrumb">
    <mat-toolbar color="primary" class="breadcrumb-toolbar">
        <div class="breadcrumb-container">
            <a mat-button color="primary" routerLink="/" class="breadcrumb-link">
                <mat-icon>home</mat-icon>
            </a>
            <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
                <mat-icon class="breadcrumb-icon">chevron_right</mat-icon>
                <ng-container *ngIf="!last">
                    <a mat-button color="primary" [routerLink]="breadcrumb.url" class="breadcrumb-link breadcrumb-link-hover">{{ breadcrumb.label }}</a>
                </ng-container>
                <ng-container *ngIf="last">
                    <span class="breadcrumb-current">{{ breadcrumb.label }}</span>
                </ng-container>
            </ng-container>
        </div>
    </mat-toolbar>
</ng-container>
