.breadcrumb-toolbar {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}

.breadcrumb-container {
  display: flex;
  align-items: center;
}

.breadcrumb-link {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.breadcrumb-link:hover{
  color: #0c4f6f;
}

.breadcrumb-icon {
  color: #bb751d;
  margin: 0 8px;
}

.breadcrumb-current {
  color: #0c4f6f;
  font-size: 1.2em;
  font-weight: bold;
}
