<div class="py-4">
    <ng-container *ngIf="cardAd$ | async as cardAd; else loading">
        <h2 class="p-4 text-primary-color-500">
            {{ cardAd.userCard.language === 'French' ? cardAd.frenchName : cardAd.name }}
        </h2>
        <app-card-ad-info [cardAdInfo]="cardAd"></app-card-ad-info>
        <button class="m-4" mat-flat-button color="primary" (click)="onMakeAnOffer()">
            {{ 'card-ad.make-an-offer-button' | translate }}
        </button>
        <h2 class="p-4 text-primary-color-500">
            {{ 'card-ad.ongoing-offers-title' | translate }}
        </h2>
    </ng-container>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>
