$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

@mixin sm {
  @media only screen and (min-width: $screen-sm) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: $screen-md) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: $screen-lg) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: $screen-xl) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: $screen-xxl) {
    @content;
  }
}
