// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '../node_modules/@angular/material/index' as mat;
//@use 'media-queries';

// Plus imports for other components in your app.

// Tailwinds
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$primary-color: #0c4f6f;
$secondary-color: #d0a386;
$table-row-color-even: #f5f5f5;
$table-selected-row-color: #c0c0c0;
$background-body: #fafafa;//#eeeeee57;

$mtgbox-blue-palette: (
  50 : #e2eaee,
  100 : #b6cad4,
  200 : #86a7b7,
  300 : #55849a,
  400 : #306985,
  500 : #0c4f6f,
  600 : #0a4867,
  700 : #083f5c,
  800 : #063652,
  900 : #032640,
  A100 : #75baff,
  A200 : #42a1ff,
  A400 : #0f87ff,
  A700 : #007af5,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  )
);

$mtgbox-brown-palette: (
  50 : #f7efea,
  100 : #ebd7cb,
  200 : #debda9,
  300 : #d0a386,
  400 : #c68f6c,
  500 : #bc7b52,
  600 : #b6734b,
  700 : #ad6841,
  800 : #a55e38,
  900 : #974b28,
  A100 : #ffe3d8,
  A200 : #ffbfa5,
  A400 : #ff9b72,
  A700 : #ff8958,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 : $dark-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WCS-MTG-Box-Front-primary: mat.define-palette($mtgbox-blue-palette);
$WCS-MTG-Box-Front-accent: mat.define-palette($mtgbox-brown-palette);

// The warn palette is optional (defaults to red).
$WCS-MTG-Box-Front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WCS-MTG-Box-Front-theme: mat.define-light-theme((
  color: (
    primary: $WCS-MTG-Box-Front-primary,
    accent: $WCS-MTG-Box-Front-accent,
    warn: $WCS-MTG-Box-Front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($WCS-MTG-Box-Front-theme);

html, body {
  height: 100%;
  background-color: $background-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  color: $primary-color;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/*material angular*/

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
  &.snackbar-success {
    --mdc-snackbar-container-color: #4caf50;
  }
  &.snackbar-neutral {
    --mdc-snackbar-container-color: #607d8b;
  }
  &.snackbar-error{
    --mdc-snackbar-container-color: #f44336;
  }
  .mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label, .mat-mdc-stroked-button .mdc-button__label, .mat-mdc-icon-button .mdc-button__label, .mat-mdc-fab .mdc-button__label, .mat-mdc-mini-fab .mdc-button__label, .mat-mdc-icon-button .mdc-button__label, .mat-mdc-fab .mdc-button__label, .mat-mdc-mini-fab .mdc-button__label {
    color: #fff;
  }
}

tr.mat-mdc-header-row {
  color:$light-primary-text;
  background-color: $primary-color ;

}

table:not(.with-expand) {
  tr.mat-mdc-row:nth-child(even) {
    background-color: $table-row-color-even;
  }
}

table.with-expand {
  tr.mat-mdc-row:nth-child(4n+3){
    background-color: $table-row-color-even;
  }
  tr.element-row:is(.example-expanded-row) {
    background-color: $table-selected-row-color;
  }

  tr.element-detail:is(.example-expanded-row) {
    border: 5px solid #d0a386;
  }
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.mat-sort-header-arrow{
  color:$light-primary-text;
}

.dense-1 {
  @include mat.all-component-densities(-1);
}

.dense-2 {
  @include mat.all-component-densities(-2);
}

.dense-3 {
  @include mat.all-component-densities(-3);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --titleAndFieldHeight : 132px;
  --topbarMobileHeight: 56px;
  --topbarTabletHeight: 64px;
  --footerHeight: 64px;
  --drawerTitleHeight: 72px;
}

.h-full-form-and-results {
  height: calc(100% - var(--titleAndFieldHeight));
}

.h-full-drawer {
  height: calc(100% - var(--drawerTitleHeight));
}

.h-full-header-less-mobile {
  height: calc(100% - var(--topbarMobileHeight));
}

.h-full-header-and-footer-less {
  height: calc(100% - (var(--topbarTabletHeight)));
}
