<mat-toolbar color="primary">
    <div class="flex w-full items-center justify-between px-2 sm:px-16">
        <a routerLink="home">{{ 'Topbar.title' | translate }}</a>
        <div class="flex items-center justify-end gap-4">
            <button
                mat-raised-button
                aria-label="Compléter ou créer une collection."
                routerLink="user-panel/collection/add">
                <mat-icon>add</mat-icon>
                {{ 'Topbar.add' | translate }}
            </button>

            <a *ngIf="isLoggedIn()" (click)="logout()">{{ 'Topbar.logout' | translate }}</a>

            <a *ngIf="!isLoggedIn()" routerLink="login">{{ 'Topbar.login' | translate }}</a>

            <mat-form-field appearance="outline" class="w-20 pt-4">
                <mat-select
                    [(ngModel)]="selectedLanguage"
                    [title]="selectedLanguage"
                    [placeholder]="selectedLanguage === 'fr' ? '🇫🇷' : '🇬🇧'"
                    name="selectedLanguage"
                    id="selectedLanguage">
                    <mat-option
                        *ngFor="let language of languages"
                        [value]="language.name"
                        [title]="language.name"
                        (click)="switchLanguage(language.name)">
                        {{ language.icon }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-toolbar>
